[defaults]
host_key_checking = false
inventory = ./inventory
retry_files_enabled = false
roles_path = ./roles
private_key_file = ./keys/sshkey_ansible
filter_plugins =./plugins/filter
library =./library
module_utils = ./module_utils

# [ssh_connection]
# pipelining = True
